.partners

  &__wrapper
    display: flex
    flex-wrap: wrap

  &__block
    flex-basis: 25%
    padding: 0 20px
    margin-bottom: 40px
    display: flex
    flex-direction: column
    align-items: flex-start

  &__img
    margin-bottom: 10px
    max-height: 140px

  &__description
    margin-bottom: 10px
    font-weight: 600

    p
      margin-bottom: 0

  &__link
    color: $orange


@media (max-width: 992px)
  .partners
    &__block
      flex-basis: 50%

@media (max-width: 767px)
  .partners
    &__block
      flex-basis: 100%